form {
    width: 800px;
    margin: 0px auto;
    margin-bottom: 50px;
    background-color: #EEEEEE;
    padding: 30px;
}

input[type="text"], input[type="password"]{
    outline: none;
    width: 100%;
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
}

select {
    width: 200px;
    padding: 5px 0px;
}

.group {
    margin: 20px 0px;
}