@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    font-family: "Single Day", cursive;
}

body {
    width: 960px;
    margin: 0px auto;
}

#header h1, #contents h1 {
    text-align: center;
}

#menu {
    margin: 20px 0px;
    overflow: hidden;
}

#menu .item {
    display: block;
    float: left;
    width: 100px;
    border: 1px solid gray;
    border-radius: 20px;
    text-align: center;
    margin-left: 10px;
    padding: 5px 0px;
}

#menu .item:hover {
    background-color: black;
}

#menu a {
    text-decoration: none;
    color: green;
}

#menu a:hover {
    color: white;
}

#contents {
    overflow: hidden;
}

#contents .col {
    width: 220px;
    margin: 0px 10px;
    float: left;
    margin-bottom: 10px;
}

.title {
    font-size: 12px;
}

#contents .col img {
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#footer {
    text-align: center;
}