@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


* {
    font-family: "Nanum Myeongjo", serif;
}

table {
    margin: 0px auto;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
    padding: 5px;
}