@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


* {
    font-family: "Nanum Myeongjo", serif;
    text-align: center;
}

div {
    margin: 5px 0px;
}

h1 {
    font-size: 30px;
}

button {
    padding:0px 20px;
}

#output {
    width: 300px;
    border: 1px solid gray;
    margin: 0px auto;
    display: none;
    margin-top: 50px;
    padding: 10px;
}

table {
    margin: 0px auto;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
    padding: 5px;
}