@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');


* {
    font-family: "Nanum Myeongjo", serif;
}

.price {
    font-size: 12px;
    font-weight: bold;
}

form .title {
    width:100px;
}