@import url('https://fonts.googleapis.com/css2?family=Single+Day&display=swap');

* {
    font-family: "Single Day", cursive;
}

body {
    width: 960px;
    margin: 0px auto;
}

#header h1, #contents h1 {
    text-align: center;
}

#footer {
    text-align: center;
    margin-bottom: 50px;
}

#menu {
    overflow: hidden;
    margin: 10px 0px;
}

#menu .item {
    width: 100px;
    float: left;
    border: 1px solid gray;
    margin-left: 20px;
    text-align: center;
    padding: 5px;
}

#contents {
    overflow: hidden;
}

#contents .col {
    width: 220px;
    float: left;
    margin: 10px 10px;
}

#contents .col img {
    width: 100%;
}

.item a {
    text-decoration: none;
    color: green;
}

.item a:hover {
    color: gray;
    font-weight: bold;
}