#header h1 {
    color: pink;
}

table {
    width: 800px;
    margin: 0px auto;
    border-collapse: collapse;
    margin-bottom: 30px;
}

td {
    border: 1px solid gray;
    padding: 5px;
}

/*테이블의 첫번째 tr */
table tr:first-child {
    text-align: center;
}

/*테이블 row클래스 첫번째 td*/
table .row td:first-child {
    width: 20px;
    text-align: center;
}

/*테이블 row클래스 4, 3 td*/
table .row td:nth-child(4), table .row td:nth-child(3) {
    width: 100px;
    text-align: center;
}

/*테이블 row 클래스 0, 2, 4, 6, ... */
table .row:nth-child(2n) {
    background-color: #EEEEEE;
    cursor: pointer;
}

/*테이블 row 클래스 위에 마우스를 올려놓은 경우*/
table .row:hover {
    font-weight: bold;
}